:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: "Road Rage", sans-serif;
  font-size: 5em;
  line-height: 1.1;
  margin: 0;
  padding: 0.2em;
}

h2 {
  font-size: 2.5em;
}

.link-to-home,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: gray;
  color: white;
  transition: border-color 0.25s;
}
.link-to-home:hover,
button:hover {
  border-color: #646cff;
}
.link-to-home:focus,
button:focus,
.link-to-home:focus-visible,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
}
