.popup-content {
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
  border-radius: 20px;
  background-color: beige;
  opacity: 100%;
}

.game-over-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  justify-items: center;
}

input {
  padding: 0.5em;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}

.go-popup-buttons-container {
  display: flex;
  gap: 1em;
  margin: 1em;
}

.go-popup-text {
  margin: 0.5em;
}
