#root {
  text-align: center;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.life-icon {
  background-color: white;
  width: 50px;
  border-radius: 25px;
  margin: 2px;
}
